POSTGRES_USER=wishlist_user
POSTGRES_PASSWORD=changeme_secret_password
POSTGRES_DB=wishlist_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

STAGE=production
PYTHONUNBUFFERED=1

SECRET_KEY=changeme_your_secret_key_min_32_chars
